h1{
    background-color: tomato;
    width:500px;
}

button{
    width: 100px;
    height: 40px;
    background-color: violet;
}

table{
   
    border-collapse: collapse;
    width: 60%;
    color:wheat;
    text-align: center;
    background-color:green;
    font-family: cursive;
}
